<!DOCTYPE html>
<html<% if(htmlWebpackPlugin.options.htmlClass) { %> class="<%= htmlWebpackPlugin.options.htmlClass %>"<% } %>>
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
<% if (htmlWebpackPlugin.options.background) { %>
  <script src="https://apis.google.com/js/client.js?onload=onGAPILoad"></script>
<% } %>
</head>
<body>
<% if (htmlWebpackPlugin.options.appname) { %>
  <div id="backup-message" class="alert-box">
    If you see this message, DemoMonkey is broken. You can access your scripts to backup by opening the <a href="backup.html">backup page</a>.
    <br /> If you want to fix this issue, open the console of the developer toolbar for this page and the background script to check for JavaScript errors.
  </div>
  <div id="app" class="app-container" data-app="<%= htmlWebpackPlugin.options.appname %>"></div>
  <div id="message-box" class="fade-to-hidden" style="z-index: 9999; position: absolute; right: 0; bottom: 0; border: 1px solid blue; background: #eeeeff;  margin-right: 20px; margin-bottom: 4px; padding: 4px;"></div>
<% } %>
</body>

</html>
