/* Comment */
.ace_punctuation.ace_definition.ace_comment.ace_mnky {
  color: #a50
}
/* Group */
.ace_punctuation.ace_definition.ace_entity.ace_mnky,
.ace_constant.ace_section.ace_group-title.ace_mnky {
  color: #a00;
  font-weight: bold;
}
/* Option */
.ace_constant.ace_library.ace_mnky {
  color: #f50;
}
/* Search */
.ace_keyword.ace_other.ace_definition.ace_mnky {
  color: #00f;
}
/* Function */
.ace_entity.ace_name.ace_function.ace_mnky {
  color: #708
}
/* Import */
.ace_storage.ace_type.ace_mnky {
  color: #a11
}
/* Variable */
.ace_variable.ace_mnky {
  font-weight: bold
}
