/* Comment */
.ace_punctuation.ace_definition.ace_comment.ace_mnky {
  color: #aa5500;
}

/* Group */
.ace_punctuation.ace_definition.ace_entity.ace_mnky,
.ace_constant.ace_section.ace_group-title.ace_mnky {
  color: #aa0000;
  font-weight: bold;
}

/* Option */
.ace_constant.ace_library.ace_mnky {
  color: #ff5500;
}

/* Search */
.ace_keyword.ace_other.ace_definition.ace_mnky {
  color: #0000ff;
}

/* Function */
.ace_entity.ace_name.ace_function.ace_mnky {
  color: #770088;
}

/* Import */
.ace_storage.ace_type.ace_mnky {
  color: #31b404;
}

/* Variable */
.ace_variable.ace_mnky {
  color: #bf00ff;
}

.disabled .ace_content {
  background-color: #f3f3f3;
}

#contentarea.disabled {
  opacity: 0.65
}
