button {
  margin: 8px 1px;
  background-color: white;
  border: 1px solid #ccc;
}

.save-button {
  background-color: #468966;
  color: #fff;
}

.copy-button {
  background-color: #FFB03B;
  color: #fff;
}

.delete-button {
  color: #fff;
  background-color: #8E2800;
}

.download-button {
  color: #fff;
  background-color: #B64926;
}
