@import 'colors';

button {
  background-color: white;
  border: 1px solid #cccccc;
  margin: 8px 1px;

  &:focus,
  &:hover {
    box-shadow: 0px 0px 10px lighten(@base, 20%);
  }
}

.save-button {
  background-color: @success;
  color: #ffffff;

  &:hover {
    background-color: lighten(@success, 5%);
  }
}

.sync-button,
.share-button {
  background-color: lighten(@success, 5%);
  color: #ffffff;

  &.left {
    margin-right:0;
    border-right:0;
    height: 36px;
  }

  &.right {
    margin-left:0;
    border-left: 1px solid white;
    height: 36px;
  }

  &:hover {
    background-color: lighten(@success, 10%);
  }
}


.copy-button {
  background-color: lighten(@success, 10%);
  color: #ffffff;

  &:hover {
    background-color: lighten(@success, 15%);
  }
}

.delete-button {
  background-color: @danger;
  color: #ffffff;

  &:focus,
  &:hover {
    background: lighten(@danger, 5%);
    border-color: #cccccc;
    box-shadow: 0px 0px 5px lighten(@danger, 20%);
  }
}

.download-button {
  background-color: lighten(@success, 15%);
  color: #ffffff;

  &:hover {
    background-color: lighten(@success, 20%);
  }
}


button.disabled {
  background-color: #333333;
  color: #999999;

  &:focus,
  &:hover {
    background-color: lighten(#333333, 5%);
    box-shadow: none;
  }
}


.drop-down-menu {
  list-style-type: none;
      position: absolute;
     margin: 0;
     padding: 0;
     top:43px;
     right:0px;
     background-color: white;
     font-weight:bold;

     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 9999999;

     & button {
       margin-top: 0;
       margin-bottom: 0;
       padding: 8px;
     }

     & li {
       margin:0;
       padding:0;
       background: green;
     }
}
