@import 'colors';

.editor {
  height: 100%;

  .editor-box {
    height: calc(100% - 80px);
  }

  .tabs {
    margin: 8px;
  }

  .title {
    background-color: var(--editor-title-background);
    border-bottom: 1px solid var(--darker-base-color);
    color: var(--mode-text-color);
    display: flex;
    padding: 3px 8px;

    b {
      background-color: var(--navigation-background);
      border: 1px solid var(--darker-base-color);
      border-bottom-left-radius: 4px;
      border-right: 0px;
      border-top-left-radius: 4px;
      color: var(--base-text-color);
      display: block;
      font-size: 120%;
      height: 100%;
      margin-bottom: 8px;
      margin-top: 8px;
      padding: 8px;
    }

    .select-hotkeys {
      flex-grow: 1;
      margin: 8px 8px 8px 0px;
    }

    .toggle-configuration {
      margin: auto 8px;
    }

    input.text-input {
      background: var(--input-background-color);
      color: var(--mode-text-color);
      border: 1px solid var(--darker-base-color);
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
      flex-grow: 3;
      font-size: 110%;
      margin: 8px 8px 9px 0px;
      padding: 8x;
    }
  }

  .variable-box {
    label:before {
      content: '$';
    }
  }
}
