@import 'tabs';
@import 'buttons';
@import 'navigation';
@import 'welcome';
@import 'popup';
@import (inline) '../node_modules/codemirror/lib/codemirror.css';

#app,
body,
html {
  height: 100%;
  margin: 0px;
  min-height: 100% !important;
  padding: 0px;
}

html.popup {
  width: 400px;
}

#main-grid {
  display: flex;
  height: 100%;
}

#content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#settings {
  border-bottom: 1px solid #cccccc;
  display: flex;
  flex-basis: 40px;
}

#editor,
#inner-content,
#text-editor {
  height: 93%;
  padding: 8px;
}

#variables-editor {
  display: flex;
  flex-direction: column;
  margin: 8px;
}

#variables-editor .row {
  display: flex;
}

#variables-editor input {
  flex-grow: 2;
  height: 100%;
  margin: 8px;
}

#variables-editor label {
  display: block;
  font-weight: bold;
  height: 100%;
  line-height: 100%;
  margin: 12px 0px;
  vertical-align: middle;
  width: 60px;
}

#variables-editor .help {
  display: block;
  flex-grow: 3;
  font-size: 90%;
  height: 100%;
  line-height: 100%;
  margin: 12px 0px;
  width: 60px;
}

.CodeMirror {
  border: 1px solid #cccccc;
  height: 100%;
}

.ReactCodeMirror {
  height: 100%;
}

#settings b {
  display: block;
  height: 100%;
  margin: 12px 1em;
  vertical-align: middle;
}

#settings .toggle-box {
  display: block;
  height: 100%;
  margin: 12px 1em;
  vertical-align: middle;
}

#settings input,
#settings select {
  flex-grow: 1;
  margin: 8px;
}

#no-configurations,
#no-templates {
  color: #cccccc;
  font-style: italic;
}

#welcome {
  margin-left: 24px;
}

.variable-box {
  margin-bottom: 1em;

  & label {
    color: #333333;
    display: block;
    font-weight: bold;
    margin-right: 1em;

    &:before {
      content: '$';
    }
  }

  & input {
    display: block;
    margin: 0.5em 0em;
    max-width: 600px;
    min-width: 300px;
    width: 50%;
  }

  & .help {
    color: #999999;
    font-size: 95%;
  }
}

.no-variables {
  background: lighten(#ffd24d, 25%);
  border: 1px solid darken(#ffd24d, 25%);
  color: darken(#ffd24d, 25%);
  margin: 1em;
  padding: 1em;

  &:before {
    content: '\26A0\00A0';
  }
}

.cm-trailingspace {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==');
  background-position: bottom left;
  background-repeat: repeat-x;
}

#testarea {
  background: #efefef;
  border: 1px solid #cccccc;
}
