@import 'colors';
@import 'tabs';
@import 'buttons';
@import 'navigation';
@import 'welcome';
@import 'popup';
@import 'editor';
@import 'ace';
@import 'table';
@import '../node_modules/react-select/less/default';

body,
html,
.app-container {
  /* height: 100vh !important; */
  margin: 0px;
  /* min-height: 100vh !important; */
  overflow-y: hidden;
  padding: 0px;
}


.popup-app {
  max-width: 800px;
  min-width: 400px;

  body,
  html,
  input.searchBox {
    line-height: 20px;
    margin-bottom: 8px;
    margin-top: 8px;
    width: 100%;
  }

  .app-container {
    overflow-y: auto;
  }

  .configurations-list {
    max-height: 480px;
    overflow-y: auto;
  }

  label {
   margin: 8px 0px;
  }
}

a {
  color: @base;

  &:hover {
    color: lighten(@base, 20%);
  }
}

textarea {
  border: 1px solid desaturate(lighten(@base, 40%), 30%);
}

.main-grid {
  display: flex;
  height: 100vh;
  min-height: 100vh;
}

.current-view {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content {
  overflow: auto;
}

.inner-content {
  height: 93%;
}

.inner-content {
  margin: 8px;
}

label {
  display: block;
  font-weight: bold;
  line-height: 100%;
  margin: 12px 0px;
  vertical-align: middle;
}

.CodeMirror {
  border: 1px solid #cccccc;
  height: 100%;
}

.moustrap-auto-save-area {
  height: 100%;
}



.no-variables {
  background: lighten(#ffd24d, 25%);
  border: 1px solid darken(#ffd24d, 25%);
  color: darken(#ffd24d, 25%);
  margin: 1em;
  padding: 1em;

  &:before {
    content: '\26A0\00A0';
  }
}

.cm-trailingspace {
  /* @ignore maxCharPerLine */
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==');
  background-position: bottom left;
  background-repeat: repeat-x;
}

.read-only {
  background: #efefef;
  border: 1px solid #cccccc;
}

.settings {
  margin-left: 24px;
  max-width: 800px;

  h1,
  h2,
  h3 {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 8px;
  }
}

.toggle-group {
  display: flex;

  label {
    display: block;
    font-weight: normal;
    margin-left: 8px;
  }
}

.alert-box {
  height: 24px;
  padding: 8px;
}

.popup-app .alert-box {
  height: 56px;
}

.input-row,
.variable-box {
  margin-bottom: 1em;

  & label {
    color: @success;
    display: block;
    font-size: 110%;
    font-weight: bold;
    margin-right: 1em;


  }

  & input {
    border: 1px solid desaturate(lighten(@base, 40%), 30%);
    border-radius: 4px;
    display: block;
    font-size: 110%;
    margin: 0.5em 0em;
    max-width: 600px;
    min-width: 300px;
    padding: 4px;
    width: 50%;
  }

  & .help {
    color: #666666;
  }
}

.warning-box {
  background: lighten(@warning, 37%);
  border: 1px solid @warning;
  color: @warning;
  margin: 8px;
  margin-bottom: 0px;
  padding: 4px;
}

.no-warning-box {
  display: none;
}

.hidden {
  display: none;
}

.ace_editor {
  border: 1px solid #cccccc;
  height: calc(100%-50px);
}
