@import 'colors';

.navigation {
  background: desaturate(lighten(@base, 79%), 40%);
  border-right: 1px solid @base;
  flex-basis: 250px;
  height: 100%;
  margin: 0px;
  min-height: 100%;
  min-width: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0px;

  ul {
    margin: 0px;
    padding: 0px;
  }

  .read-only-item {
    font-style: italic;

    a {
      color: lighten(@base, 20%);
    }
  }

  .navigation-item {

    a {
      text-decoration: none;

    }

    &:hover {
      text-decoration: underline;
    }

    .configuration-name {
      display: inline-block;
      max-width: 140px;
    }

    .configuration-updated-at time {

      &:before {
        content: '(';
      }

      &:after {
        content: ')';
      }
    }
  }

  .actions {

    background-color: @base;

    a {
      color: #f0f0f0;
      display: block;
      padding: 8px;
      text-decoration: none;

      &:hover {
        background: #f0f0f0;
        color: @base;
        text-decoration: underline;
      }
    }

    display: flex;

    li {
      border-right: 1px solid #f0f0f0;
      list-style-type: none;

      &:last-of-type {
        border-right: 0px;
      }
    }

    a {
      font-weight: bold;
    }
  }

  .upload-form {
    display: none;
  }

  .searchBox {
    border-bottom: 1px solid @base;
    border-left: 0px;
    border-right: 1px solid @base;
    border-top: 1px solid @base;
    height: 24px;
    padding-left: 4px;
    width: 250px;
  }
}
