@import 'colors';

#navigation {
  background: lighten(@base, 60%);
  border-right: 1px solid @base;
  flex-basis: 200px;
  margin: 0px;
  padding: 0px;
  min-height: vmax;
  height: vmax;
}

#navigation a {
  color: @base;
}

#navigation-actions {
  border-bottom: 1px solid @base;
  display: flex;
}

#navigation-actions li {
  list-style-type: none;
}

#navigation-items li {
  border-bottom: 1px solid @base;
  padding: 8px;
}

#navigation li {
  padding: 0px;
}

#navigation li h2 {
  background-color: @base;
  border-bottom: 1px solid @base;
  color: #ffffff;
  display: block;
  font-weight: bold;
  margin: 0px;
  padding: 16px;
}

#navigation li ul {
  margin: 0px;
  padding: 0px;
}

.navigation-action a,
.navigation-item a {
  &:hover {
    background: #ffffff;
    text-decoration: underline;
  }

  display: block;
  padding: 8px;
  text-decoration: none;
}

.navigation-item a:before {
  content: '\270E\00A0';
}

.navigation-action a {
  font-weight: bold;
}

#uploadForm {
  display: none;
}
