#welcome-installation {
  display: none;
}

#welcome {
  max-width: 800px;

  p {
    line-height: 130%
  }

  h1,
  h2 {
      border-bottom: 1px solid #eeeeee;
      padding-bottom: 8px;
  }

  code {
    background: #eeeeee;
  }

  code.language-ini {
    
  }

  pre code {
    display: block;
    margin: 1em;
    margin-right: 0px;
    padding: 1em;
  }
}
